.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: red; */
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 35px;
}

.nav__logo{
  width: 300px;
}

.nav__list-container{
  /* background-color: blue; */
  display: flex;
  font-family: subtittles;
  gap:15px;
  font-size: 18px;
  align-items: center;
}

.nav__link{
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.nav__link:hover{
  transform: scale(1.2);
  transition: .2s;
}

.active{
  background-color: var(--color-green);
  padding: 10px 40px;
  border-radius: 40px;
}

/*----------------------- Responsive ----------------------*/

@media screen and (max-width:1024px){
  .nav{
    padding: 20px 20px;

  }

  .nav__list-container{
    font-size: 18px;
  }

  .nav__logo{
    width: 200px;
  }

  .active{
    padding: 5px 20px;
  }
  
}

@media screen and (max-width:600px){
  .nav__list-container{
    display: none;
  }
}

@media screen and (max-width:600px){
  .active{
    padding: 0;
    border-radius: none;
    background: none;
    color: var(--color-green);
  }
}

@media screen and (max-width:600px){
  .nav{
    background-color: var(--color-strongblue);
    justify-content: center;
    padding: 10px 0px;
  }

  .nav__logo{
    height: 50px;
    width: auto;
  }
}