.navMobile{
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  display: none;
}

.navMobile__list-container{
  display: flex;
  justify-content: space-around;
  width: 90%;
  color: #fff;
  font-size: 35px;
  background-color: var(--color-strongblue);
  border-radius: 50px;
}

.navMobile__link{
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
}

@media screen and (max-width:600px) {
  .navMobile{
    display: flex;
  }
  .active li{
    color:var(--color-green);
  }
}