:root{
  --color-yellow: #FFF800;
  --color-skyblue: #74CBED;
  --color-strongblue: #000020;
  --color-green: #539E41;
  --color-red: #DF1129;
}

@font-face {
  font-family: tittle;
  src: url("./assets/Robota-NonCommercial.otf");
}

@font-face {
  font-family: subtittles;
  src: url("./assets/SpoofTrial-Regular.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-image: url("./img/Background_WebPage.png");
  background-position: center;
  background-size: cover;
}

h1{
  font-family: tittle;
  margin: 10px 0px;
  color: #fff;
  font-size: 36px;
}

p{
  font-family: subtittles;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width:450px){
  h1{
    font-family: tittle;
    margin: 10px 0px;
    color: #fff;
    font-size: 24px;
  }
  
  p{
    font-family: subtittles;
    color: #fff;
    font-size: 12px;
  }
  
}